on:
  workflow_call:
    inputs:
      app_name:
        required: true
        type: string
      app_env:
        required: true
        type: string

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: actions/checkout@v4
        with:
          repository: 'devops-learning-projects/roboshop-helm'
          path: 'helm'
      - name: Deploy
        run: |
          cd helm
          aws eks update-kubeconfig --name dev
          argocd login argocd-dev.maidevops.fun --insecure --username admin --password $(kubectl get secrets -n tools argocd-initial-admin-secret -o jsonpath='{.data.password}' |base64 -d) --grpc-web
          argocd app create ${{ inputs.app_name }}.yaml --repo https://github.com/devops-learning-projects/roboshop-helm --path . --dest-namespace default --dest-server https://kubernetes.default.svc --values env-dev/${{ inputs.app_name }}.yaml --helm-set imageTag=${GITHUB_SHA} --sync-policy automatic --upsert

#          cd helm
#          aws eks update-kubeconfig --name dev
#          helm upgrade -i ${{ inputs.app_name }} . -f env-${{ inputs.app_env}}/${{ inputs.app_name }}.yaml --set imageTag=${GITHUB_SHA}
 #